@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

.bt:hover::before{
    content:"Unfollow"
}

.bt:hover span{
    display: none;
}
}

.Detailsbt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100%/2);
    margin-left: -50px;
}

