#no-result-found {
    margin: 32px auto;
    padding: 0 32px;
    max-width: 400px;
}

#no-result-found .title {
    font-size: 28px;
    margin-bottom: 8px;
    color: #000;
    font-weight: 700;
    word-wrap: break-word;
}

#no-result-found .body {
    font-size: 15px;
    margin-bottom: 28px;
    color: rgb(83, 100, 113);
    font-weight: 400;
}

#no-result-found a {
    display: flex;
    width: fit-content;
    min-height: 52px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 32px;
    font-weight: 700;
    background-color: #1d9bf0;
    color: white;
    align-items: center;
    transition: background-color .218s;
}

#no-result-found a:hover {
    background-color: #1A8CD8;
}