@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pop-up {
    width: 600px;
    height: 650px;
    /* padding-left: auto;
    padding-right: auto; */
  }

  .pop-up > div > div {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    height: 500px;
    margin-top: 50px;
  }

  /* .pop-up a {
    @apply text-primary;
  } */

  .pop-up a:hover {
    text-decoration: underline;
  }

  .pop-up h1 {
    @apply text-3xl font-semibold;
  }

  @media screen and (max-width: 700px) {
    .app {
      padding: 0 !important;
    }

    .pop-up {
      width: 100vw;
      height: 100vh;
    }

    .pop-up > div > div {
      margin-top: 50px;
      /* margin: auto; */
    }
  }

  hr{
    @apply border-lightBorder dark:border-darkBorder
  }

  .btn {
    @apply mb-2 mt-auto h-[45px] min-h-[45px] w-full border !border-lightHover dark:!border-darkHover rounded-3xl font-semibold !text-white dark:!text-black  disabled:pointer-events-none disabled:brightness-50;
  }

  .form-input {
    @apply h-14 w-full rounded-lg border border-solid border-ternairy p-2 pt-8 bg-white dark:bg-black;
  }

  .form-input:focus {
    outline: none !important;
    border: 1px solid #1d9bf0;
  }

  .input-container {
    position: relative;
  }

  .input-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aab8c2;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  .form-input:focus + .input-label {
    top: 10px;
    transform: translateY(0);
    font-size: 10px;
    color: #1da1f2;
  }

  .filled-input + .input-label {
    top: 10px;
    transform: translateY(0);
    font-size: 10px;
  }
}
